/* 
    Document   : principal
    Created on : 23-feb-2014, 12:51:21
    Author     : Miguel
    Description: CSS principal
*/
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700);
html {
    height: 100%;
}

*{
    margin: 0 auto;                
}

body{
    background: none repeat scroll 0 0 #E0E0E0;
}

h3, h2{
    color: #98C7F6;
}

a{
    color:#0D78D8;
    text-decoration: none;
}

.enlaces {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #0D78D8;
    cursor: pointer;
}

.enlaces:hover {
    background: #0D78D8;
    color: #98C7F2;
}

#fondo_cabecera{
    background: #8FB9D9;
    text-align: center;
}

#cabecera /*Define una identificador "header" asociado a un elemento <div>. Es la posición de la cabecera */
{
    margin: 10px auto;
    width: 90%;
    height: 200px;
    background: #3F92D2;
    display: inline-block;
    border-radius: 15px;
}

#contenido{
    width: 80%;
    background: white;
    min-height: 506px;
}

.animacion{
    display:none;
}

#contenido1 {
    display: inline-block;
    height: 100%;
    margin: 15% 1% 0;
    width: 98%;
}

#inicio{
    margin: 0 0 0 10%;
}

#izquierda{
    width: 28%;
    float: left;
    text-align: center;
    border-right: 1px solid #98C7F2;
}

#derecha{
    width: 68%;
    float: right;
}

#nosotros, #trayectos{
    background: none;
    border: none;
    color: #4186D3;
    font-size: larger;
}
/*
SLIDER DE MIRIAM
*/

.slider {
   position: relative;
   height: 198px;
   width: 40%;
   overflow: hidden;
   margin: auto;
}

.anim{
   position: absolute;
   float:left;
}

.anim1 {
   z-index: 5;
   animation-name: Anim1;
   animation-duration: 15s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-delay: 2s;
   -webkit-animation-name: Anim1;
   -webkit-animation-duration: 15s;
   -webkit-animation-direction: alternate;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-delay: 2s;
   -moz-animation-name: Anim1;
   -moz-animation-duration: 15s;
   -moz-animation-direction: alternate;
   -moz-animation-iteration-count: infinite;
   -moz-animation-delay: 2s;
   -ms-animation-name: Anim1;
   -ms-animation-duration: 15s;
   -ms-animation-direction: alternate;
   -ms-animation-iteration-count: infinite;
   -ms-animation-delay: 2s;
   width: 100%;
}

.anim2 {
   z-index: 4;
   animation-name: Anim2;
   animation-duration: 15s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-delay: 5s;
   -webkit-animation-name: Anim1;
   -webkit-animation-duration: 15s;
   -webkit-animation-direction: alternate;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-delay: 5s;
   -moz-animation-name: Anim2;
   -moz-animation-duration: 15s;
   -moz-animation-direction: alternate;
   -moz-animation-iteration-count: infinite;
   -moz-animation-delay: 5s;
   -ms-animation-name: Anim1;
   -ms-animation-duration: 15s;
   -ms-animation-direction: alternate;
   -ms-animation-iteration-count: infinite;
   -ms-animation-delay: 5s;
   width: 100%;
}

.anim3 {
   z-index: 3;
   animation-name: Anim3;
   animation-duration: 15s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-delay: 8s;
   -webkit-animation-name: Anim3;
   -webkit-animation-duration: 15s;
   -webkit-animation-direction: alternate;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-delay: 8s;
   -moz-animation-name: Anim1;
   -moz-animation-duration: 15s;
   -moz-animation-direction: alternate;
   -moz-animation-iteration-count: infinite;
   -moz-animation-delay: 8s;
   -ms-animation-name: Anim1;
   -ms-animation-duration: 15s;
   -ms-animation-direction: alternate;
   -ms-animation-iteration-count: infinite;
   -ms-animation-delay: 8s;
   width: 100%;
}

.anim4 {
   z-index: 2;
   animation-name: Anim4;
   animation-duration: 15s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-delay: 11s;
   -webkit-animation-name: Anim3;
   -webkit-animation-duration: 15s;
   -webkit-animation-direction: alternate;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-delay: 11s;
   -moz-animation-name: Anim4;
   -moz-animation-duration: 15s;
   -moz-animation-direction: alternate;
   -moz-animation-iteration-count: infinite;
   -moz-animation-delay: 11s;
   -ms-animation-name: Anim1;
   -ms-animation-duration: 15s;
   -ms-animation-direction: alternate;
   -ms-animation-iteration-count: infinite;
   -ms-animation-delay: 11s;
   width: 100%;
}
.anim5 {
   z-index: 1;
   animation-name: Anim4;
   animation-duration: 15s;
   animation-direction: alternate;
   animation-iteration-count: infinite;
   animation-delay: 14s;
   -webkit-animation-name: Anim5;
   -webkit-animation-duration: 15s;
   -webkit-animation-direction: alternate;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-delay: 14s;
   -moz-animation-name: Anim4;
   -moz-animation-duration: 15s;
   -moz-animation-direction: alternate;
   -moz-animation-iteration-count: infinite;
   -moz-animation-delay: 14s;
   -ms-animation-name: Anim1;
   -ms-animation-duration: 15s;
   -ms-animation-direction: alternate;
   -ms-animation-iteration-count: infinite;
   -ms-animation-delay: 14s;
   width: 100%;
}



@keyframes Anim1 {
   0% {opacity: 100;}
   20% {opacity:   0;}
   80% {opacity:   0;}
   100% {opacity: 100;}
}

@-webkit-keyframes Anim1 {
   0% {opacity: 100;}
   20% {opacity:   0;}
   80% {opacity:   0;}
   100% {opacity: 100;}
}   